$color-primary: red;
$color-secondary: green;
$color-tertiary: blue;
@use "function.scss" as f;

@use "mixin.scss" as m;

.container {
    display:flex;
    font-size:  f.remConvert(20);
    flex-direction: column;
    justify-content: center;
    border: 5px solid $color-primary;
    .container-title{
        color: $color-secondary;
        align-self: center;
        margin-top: 70px;
        margin-bottom: 0px;
        text-decoration: underline blue;
        text-decoration-thickness: 2px;
    }
}
section{
    display:flex;
    margin: 10px;
    justify-content: center;
}
.item {
    grid-auto-flow: row;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid $color-secondary;
    padding: 25px;
}
article:nth-of-type(even){
    p{
        @include m.first-layout(red, 0)
    }
}
article.item:nth-of-type(odd){
    p{
        @include m.first-layout(blue,0)
    }
}
.footer{
    border: 2px solid $color-tertiary;
    padding: 25px;
    p{
        @include m.first-layout(green, 0, 24px)
    }
}